body {
    margin: 0px auto;
    padding: 16px 36px 24px 36px;
    max-width: 440px;
    text-align: left;
    font-size: 1.5em;
}
h2 {
    margin: 0.5em 0;
    text-decoration-line: underline;
    text-decoration-style: dashed;

}
p {
    margin: 0px;
    margin-bottom: 8px;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0em 1em;
}
li {
    margin-bottom: 16px;
}
.biglink-container {
    margin-bottom: 16px;
}
.biglink {
    font-size: 1.6em;
    margin-bottom: 0px;
}
.biglink-description {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 0px;
}