<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighFive — Puzzle Board</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='board.css') }}">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <div id="header-box">
        <div class="header"><a class="header-link" href="/">HighFive</a></div>
        <div class="subheader">MIT Mystery Hunt 2025</div>
    </div>
    <div id="infobox">
        <button id="infobox-btn"></button>
        <div id="infobox-content">
            <p>Use this board to track our progress on puzzles!</p>
            <ul>
                <li>"Add Puzzle" automatically generates a new Google Sheets tab. (Note: renaming or deleting a card does not affect its tab.)</li>
                <li>Click/tap on a card to edit its properties. Drag it to another column to change its status.</li>
                <li>Tag puzzles with comma-separated values in the "Tags" field — "meta", "physical", and "collaborative" have special colors.</li>
            </ul>
        </div>
    </div>
    <div id="add-card-container">
        <div id="add-card-fields">
            <input id="add-card-name" class="add-field" type="text" placeholder="Puzzle name">
            <input id="add-card-puzzle-link" class="add-field" type="text" placeholder="Link to puzzle webpage">
        </div>
        <button id="add-card-btn">Add Puzzle</button>
    </div>
    <div class="board">
        <div class="column" id="worked-on">
            <div class="column-header">Worked On</div>
            <div class="column-subheader">0 puzzles</div>
        </div>
        <div class="column" id="in-progress">
            <div class="column-header">In Progress</div>
            <div class="column-subheader">0 puzzles</div>
        </div>
        <div class="column" id="done">
            <div class="column-header">Done</div>
            <div class="column-subheader">0 puzzles</div>
        </div>
    </div>

    <div class="modal" id="modal">
        <div class="modal-content">
            <label for="task-name">Name</label>
            <input type="text" id="task-name" />

            <label for="task-state-label">State</label>
            <select name="state" id="task-state">
                <option value="Worked On">Worked On</option>
                <option value="In Progress">In Progress</option>
                <option value="Done">Done</option>
            </select>

            <label for="task-puzzle-link">Puzzle Link</label>
            <input type="url" id="task-puzzle-link" placeholder="Link to puzzle webpage"/>

            <label for="task-sheet-link">Sheet Link</label>
            <input type="url" id="task-sheet-link" placeholder="Link to Google Sheets (autogenerated)"/>

            <label for="task-tags">Tags</label>
            <input type="text" id="task-tags" placeholder="Comma-separated tags: meta, physical, collaborative"/>

            <label for="task-assignees">People Who've Worked On This</label>
            <input type="text" id="task-assignees" placeholder="Comma-separated names"/>

            <button id="save-task-btn">Save</button>
            <button id="delete-task-btn" style="background-color: #dc3545;">Delete</button>
        </div>
    </div>

    <script>
        const socket = io();

        const translateStates = {
            'Worked On': 'worked-on',
            'In Progress': 'in-progress',
            'Done': 'done',
            "worked-on": 'Worked On',
            "in-progress": 'In Progress',
            "done": 'Done'
        }

        const colormap = {
            'meta': 'darkgoldenrod',
            'physical': '#2274a5',
            'collaborative': '#32936f'
        }

        const columns = document.querySelectorAll('.column');
        const modal = document.getElementById('modal');
        const modalTaskName = document.getElementById('task-name');
        const modalTaskState = document.getElementById('task-state');
        const modalTaskPuzzleLink = document.getElementById('task-puzzle-link');
        const modalTaskSheetLink = document.getElementById('task-sheet-link');
        const modalTaskTags = document.getElementById('task-tags');
        const modalTaskAssignees = document.getElementById('task-assignees');
        const saveTaskBtn = document.getElementById('save-task-btn');
        const deleteTaskBtn = document.getElementById('delete-task-btn');
        const addCardName = document.getElementById('add-card-name');
        const addCardPuzzleLink = document.getElementById('add-card-puzzle-link');
        const addCardBtn = document.getElementById('add-card-btn');

        // Keep track of current card.
        let currentCard = null;


        // Set up infobox toggle.
        const infoboxDefaultText = "Information and FAQ";
        const infoboxBtn = document.getElementById("infobox-btn");
        const infoboxContent = document.getElementById("infobox-content");
        infoboxBtn.innerHTML = infoboxDefaultText + " +";
        infoboxBtn.addEventListener("click", function() {
            infoboxBtn.classList.toggle("active");
            infoboxContent.classList.toggle("active");
            if (infoboxContent.style.display === "block") {
                infoboxContent.style.display = "none";
                infoboxBtn.innerHTML = `${infoboxDefaultText} +`;
            } else {
                infoboxContent.style.display = "block";
                infoboxBtn.innerHTML = `${infoboxDefaultText} -`;
            }
        });


        // Set up dragging events for columns.
        columns.forEach(column => {
            column.addEventListener('dragover', e => {
                e.preventDefault();
            });

            column.addEventListener('drop', () => {
                if (currentCard && ((column.id !== "done" || confirm(`Mark card "${currentCard.dataset.name}" as done?`))) && (currentCard.dataset.state !== "Done" || (column.id !== "done" && confirm(`Move card "${currentCard.dataset.name}" out of Done?`)))) {
                    let task = getJsonFromCard(currentCard);
                    if (task.state !== translateStates[column.id]) {
                        task.lastUpdated = new Date().toISOString();
                    }
                    task.state = translateStates[column.id];
                    socket.emit('update_task', { task });
                }
            });
        });

        saveTaskBtn.addEventListener('click', () => {
            if (currentCard) {
                let task = getJsonFromModal();
                task.uuid = currentCard.dataset.uuid;
                task.lastUpdated = new Date().toISOString();
                socket.emit('update_task', { task });
            }
            modal.style.display = 'none';
        });

        deleteTaskBtn.addEventListener('click', () => {
            if (currentCard && confirm(`Delete card "${currentCard.dataset.name}"?`)) {
                let task = getJsonFromCard(currentCard);
                socket.emit('delete_task', { task });
                currentCard = null;
                modal.style.display = 'none';
            }
        });

        addCardBtn.addEventListener('click', () => {
            if (!addCardName.value) {
                alert('Please enter the puzzle name.');
                return;
            }
            if (!addCardPuzzleLink.value) {
                alert('Please enter the link to the puzzle.');
                return;
            }
            // Check other cards to see if there's one with the same name.
            for (const column of columns) {
                for (const card of column.children) {
                    if (card.dataset.name === addCardName.value) {
                        alert(`There's already a card with the name "${addCardName.value}".`);
                        return;
                    }
                }
            }
            if (!confirm(`Add card "${addCardName.value}"?`)) {
                return;
            }
            const task = {
                uuid: crypto.randomUUID(),
                lastUpdated: new Date().toISOString(),
                name: addCardName.value,
                state: "In Progress",
                puzzleLink: addCardPuzzleLink.value,
                sheetLink: "",
                tags: [],
                assignees: []
            }
            socket.emit('add_task', { task });
            addCardName.value = '';
            addCardPuzzleLink.value = '';
        });

        modal.addEventListener('click', e => {
            if (e.target === modal) {
                modal.style.display = 'none';
            }
        });

        // Remove and rebuild all tasks.
        function updateTasks(tasks) {
            for (const column of columns) {
                while (column.lastElementChild) {
                    if (column.lastElementChild.classList.contains('card')) {
                        column.removeChild(column.lastElementChild);
                    } else {
                        break;
                    }
                }
            }
            tasks.sort((a, b) => new Date(b.lastUpdated) - new Date(a.lastUpdated));
            for (const task of tasks) {
                addTask(task);
            }
            for (const column of columns) {
                let numChildren = column.querySelectorAll('.card').length;
                let puzzlePlural = numChildren === 1 ? "" : "s";
                column.querySelector('.column-subheader').textContent = `${numChildren} puzzle${puzzlePlural}`;
            }
        }

        // Add single task from a JSON object.
        function addTask(data) {
            const newCard = addCard();
            newCard.dataset.uuid = data.uuid || crypto.randomUUID();
            newCard.dataset.lastUpdated = data.lastUpdated || new Date().toISOString();
            newCard.dataset.name = data.name || "New Puzzle";
            newCard.dataset.state = data.state || "In Progress";
            newCard.dataset.puzzleLink = data.puzzleLink || "";
            newCard.dataset.sheetLink = data.sheetLink || "";
            newCard.dataset.tags = data.tags || "";  // csv.
            newCard.dataset.assignees = data.assignees || "";  // csv.
            newCard.innerHTML = data.name;
            if (data.puzzleLink) {
                newCard.innerHTML += `&nbsp; [<a href=${data.puzzleLink} target="_blank">puzzle</a>]`;
            }
            if (data.sheetLink) {
                newCard.innerHTML += `&nbsp; [<a href=${data.sheetLink} target="_blank">sheet</a>]`;
            }
            let hasTags = false;
            for (let tag of data.tags) {
                tag = tag.trim();
                if (tag === "") {
                    continue;
                }
                if (!hasTags) {
                    newCard.innerHTML += "<br>";
                    hasTags = true;
                }
                let tagColor = colormap[tag.toLowerCase()] || "darkgray";
                newCard.innerHTML += `<span style="color: ${tagColor}"; class="card-tag">${tag}</span>`;

                // Shiny!
                if (tag.toLowerCase() === "meta") {
                    newCard.style.backgroundColor = "#ffe866";
                    newCard.classList.add("shiny");
                }
            }
            setUpCardEvents(newCard);
            document.getElementById(translateStates[data.state] || "in-progress").appendChild(newCard);
        }
        
        // Create DOM card and add functions.
        function addCard() {
            const newCard = document.createElement('div');
            newCard.className = 'card';
            newCard.draggable = true;
            setUpCardEvents(newCard);
            return newCard;
        }

        function setUpCardEvents(card) {
            card.addEventListener('dragstart', () => {
                currentCard = card;
                setTimeout(() => card.style.display = 'none', 0);
            });

            card.addEventListener('dragend', () => {
                setTimeout(() => {
                    currentCard = card;
                    currentCard.style.display = 'block';
                    currentCard = null;
                }, 0);
            });

            card.addEventListener('click', () => {
                modal.style.display = 'flex';
                populateModalFromCard(card);
                currentCard = card;
            });
        }

        function populateModalFromCard(card) {
            modalTaskName.value = card.dataset.name || '';
            modalTaskState.value = card.dataset.state || '';
            modalTaskPuzzleLink.value = card.dataset.puzzleLink || '';
            modalTaskSheetLink.value = card.dataset.sheetLink || '';
            modalTaskTags.value = card.dataset.tags.replaceAll(",", ", ");
            modalTaskAssignees.value = card.dataset.assignees.replaceAll(",", ", ");
        }

        function getJsonFromModal() {
            return {
                name: modalTaskName.value,
                state: modalTaskState.value,
                puzzleLink: modalTaskPuzzleLink.value,
                sheetLink: modalTaskSheetLink.value,
                tags: modalTaskTags.value.split(',').map(tag => tag.trim()),
                assignees: modalTaskAssignees.value.split(',').map(name => name.trim())
            }
        }

        function getJsonFromCard(card) {
            return {
                uuid: card.dataset.uuid,
                lastUpdated: card.dataset.lastUpdated,
                name: card.dataset.name,
                state: card.dataset.state,
                puzzleLink: card.dataset.puzzleLink,
                sheetLink: card.dataset.sheetLink,
                tags: card.dataset.tags.split(',').map(tag => tag.trim()),
                assignees: card.dataset.assignees.split(',').map(name => name.trim())
            }
        }

        socket.on('update_tasks', (data) => {
            updateTasks(data);
        });
    </script>
</body>
</html>
